<a href="https://colab.research.google.com/github/sancholp/movie_tagging/blob/main/movie_synopsis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import ast

In [ ]:
raw_data = pd.read_csv("sancho_data.csv", sep=',', header=0, usecols=[1,2,3])

In [ ]:
raw_data.head()

,imdb_id,tags,plot
0,tt0000027,['documentary'],A stationary camera looks across the boulevard...
1,tt0000575,"['pirates', 'scifi']",Undersea adventures in a submarine by a dreami...
2,tt0000642,['drama'],The Outwitting of an Andalusian Brigand by a P...
3,tt0000650,['drama'],Before the storm. Epoch-making days. Liberty s...
4,tt0000720,['drama'],John and Tom Wilkins are brothers and most div...

In [ ]:
tags = raw_data["tags"]

In [ ]:
all_tags = []
for tags_str in tags:
    tags_list = ast.literal_eval(tags_str)
    for tag in tags_list:
        if tag not in all_tags: all_tags.append(tag)

print(all_tags)
print(len(all_tags))

['documentary', 'pirates', 'scifi', 'drama', 'western', 'fantasy', 'melodrama', 'comedy', 'disaster_movie', 'romantic', 'horror', 'crime', 'wartime', 'mystery', 'adventure', 'LGBT', 'romantic_comedy', 'biopic', 'comedy_drama', 'action', 'thriller', 'sport', 'murder', 'chase', 'vampires', 'monsters', 'dystopic', 'aviation', 'war', 'espionage', 'musical', 'surreal', 'prostitution', 'love', 'animation', 'serial_killer', 'death_penalty', 'noir', 'police_investigation', 'suspenseful', 'sexual', 'creepy', 'prison', 'bank_robbery', 'magic', 'small_town', 'history', 'gunfight', 'cartoon', 'children', 'friendship', 'time_travel', 'inbreeding', 'alcohol_addiction', 'space', 'justice', 'horror_comedy', 'true_story', 'parenthood', 'loneliness', 'politics', 'futuristic', 'music', 'alien', 'supernatural', 'zombies', 'religion', 'revenge', 'cult', 'neo-noir', 'family', 'death', 'splatter', 'teen_movie', 'violence', 'nudity', 'terrorism', 'action_comedies', 'pornography', 'coming_of_age', 'erotic_thriller', 'martial_arts', 'fight_scenes', 'high_school', 'super_hero']
85